.footer
	.nc_op_btns
		.col_4
			a.ft_btn.ft_btn_CU(href="contactus.html")
				span
				small Contact us
		.col_4
			a.ft_btn.ft_btn_ST(href="setting.html")
				span
				small Settings
		.col_4
			a.ft_btn.ft_btn_CMT(href="community.html")
				span
				small Community
	.email_box
		form
			input.form_input.col_9(type="text" placeholder="Your Email Address")
			a.btn_sub.btn.btn_black(type="submit") Subscribe
	.links
		.links_in
			a.btn(href="/") Home
			a.btn(href="#") Full Site
	.com_icons
		.i_nt
			img(src="images/i_nt.png")
		.i_com
			img(src="images/i_com.png")
		.det_fo
			p Copyright ©2014-2015 <a href="/">Newchic.com</a>. All Rights Reserved.