.header_wrap
	.header
		a.i_head.icon_cate.i_head_1(href="/cate.html")
		a.i_head.icon_person.i_head_2(href="/person.html")
		a.i_head.i_head_logo(href="/")
		a.i_head.icon_wish.i_head_3(href="/wish.html")
		a.i_head.icon_bag.i_head_4(href="/cart.html")