* {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: Helvetica Neue,Helvetica,Arial;
  color: #4a4a4a;
  font-size: 1.2rem;
  line-height: 1;
  background: #ffffff;
  font-size: 1.2rem;
  position: relative;
}

input, textarea, select {
  outline: none;
  resize: none;
  border: 0 none;
  font-family: theme_font,Helvetica Neue,Helvetica,Arial;
  -webkit-appearance: none;
}

a {
  text-decoration: none;
  color: #4a4a4a;
}

@font-face {
  font-family: theme_font;
  src: url("../font/corbel.ttf");
}

.th_font {
  font-family: theme_font;
}

@media only screen and (min-width: 375px) {
  html {
    font-size: 75% !important;
  }
}

@media only screen and (min-width: 560px) {
  html {
    font-size: 87.5% !important;
  }
}

@media only screen and (min-width: 640px) {
  html {
    font-size: 100% !important;
  }
}

.noscroll {
  overflow: hidden;
}

.clearfix:after, .btn_group .btn:after {
  content: '';
  display: block;
  clear: both;
}

.center_block {
  margin: 0 auto;
  display: block;
}

.i_common {
  background: url(../images/common_icon.png) no-repeat center center;
  width: 3rem;
  height: 3rem;
  background-size: 3rem;
  cursor: pointer;
}

.i_head {
  background: url(../images/common_icon.png) no-repeat center center;
  position: absolute;
  top: 50%;
  margin-top: -1.5rem;
  width: 3rem;
  height: 3rem;
  background-size: 3rem;
  cursor: pointer;
}

.i_cate {
  background: url(../images/index_sort.png) no-repeat center center;
  width: 5rem;
  height: 5rem;
  background-size: 5rem;
  cursor: pointer;
}

.col_1 {
  width: 8.33333%;
}

.col_2 {
  width: 16.66667%;
}

.col_3 {
  width: 25%;
}

.col_4 {
  width: 33.33333%;
}

.col_5 {
  width: 41.66667%;
}

.col_6 {
  width: 50%;
}

.col_7 {
  width: 58.33333%;
}

.col_8 {
  width: 66.66667%;
}

.col_9 {
  width: 75%;
}

.col_10 {
  width: 83.33333%;
}

.col_11 {
  width: 91.66667%;
}

.col_12 {
  width: 100%;
}

.icon_1 {
  background-position: 0 -3rem;
  z-index: 101;
}

.icon_2 {
  background-position: 0 -6rem;
  z-index: 102;
}

.icon_3 {
  background-position: 0 -9rem;
  z-index: 103;
}

.icon_4 {
  background-position: 0 -12rem;
  z-index: 104;
}

.icon_5 {
  background-position: 0 -15rem;
  z-index: 105;
}

.icon_6 {
  background-position: 0 -18rem;
  z-index: 106;
}

.icon_7 {
  background-position: 0 -21rem;
  z-index: 107;
}

.icon_8 {
  background-position: 0 -24rem;
  z-index: 108;
}

.icon_9 {
  background-position: 0 -27rem;
  z-index: 109;
}

.icon_10 {
  background-position: 0 -30rem;
  z-index: 110;
}

.icon_11 {
  background-position: 0 -33rem;
  z-index: 111;
}

.icon_12 {
  background-position: 0 -36rem;
  z-index: 112;
}

.icon_13 {
  background-position: 0 -39rem;
  z-index: 113;
}

.icon_14 {
  background-position: 0 -42rem;
  z-index: 114;
}

.icon_15 {
  background-position: 0 -45rem;
  z-index: 115;
}

.icon_16 {
  background-position: 0 -48rem;
  z-index: 116;
}

.icon_17 {
  background-position: 0 -51rem;
  z-index: 117;
}

.icon_18 {
  background-position: 0 -54rem;
  z-index: 118;
}

.icon_19 {
  background-position: 0 -57rem;
  z-index: 119;
}

.icon_20 {
  background-position: 0 -60rem;
  z-index: 120;
}

.icon_21 {
  background-position: 0 -63rem;
  z-index: 121;
}

.icon_22 {
  background-position: 0 -66rem;
  z-index: 122;
}

.icon_23 {
  background-position: 0 -69rem;
  z-index: 123;
}

.icon_24 {
  background-position: 0 -72rem;
  z-index: 124;
}

.icon_25 {
  background-position: 0 -75rem;
  z-index: 125;
}

.icon_26 {
  background-position: 0 -78rem;
  z-index: 126;
}

.icon_27 {
  background-position: 0 -81rem;
  z-index: 127;
}

.icon_28 {
  background-position: 0 -84rem;
  z-index: 128;
}

.icon_29 {
  background-position: 0 -87rem;
  z-index: 129;
}

.icon_30 {
  background-position: 0 -90rem;
  z-index: 130;
}

.icon_31 {
  background-position: 0 -93rem;
  z-index: 131;
}

.icon_32 {
  background-position: 0 -96rem;
  z-index: 132;
}

.icon_33 {
  background-position: 0 -99rem;
  z-index: 133;
}

.icon_34 {
  background-position: 0 -102rem;
  z-index: 134;
}

.icon_35 {
  background-position: 0 -105rem;
  z-index: 135;
}

.icon_36 {
  background-position: 0 -108rem;
  z-index: 136;
}

.icon_37 {
  background-position: 0 -111rem;
  z-index: 137;
}

.icon_38 {
  background-position: 0 -114rem;
  z-index: 138;
}

.icon_39 {
  background-position: 0 -117rem;
  z-index: 139;
}

.icon_40 {
  background-position: 0 -120rem;
  z-index: 140;
}

.cate_1 {
  background-position: 0 -5rem;
}

.cate_2 {
  background-position: 0 -10rem;
}

.cate_3 {
  background-position: 0 -15rem;
}

.cate_4 {
  background-position: 0 -20rem;
}

.cate_5 {
  background-position: 0 -25rem;
}

.cate_6 {
  background-position: 0 -30rem;
}

.cate_7 {
  background-position: 0 -35rem;
}

.cate_8 {
  background-position: 0 -40rem;
}

.btn {
  line-height: 3rem;
  border: 1px solid #4A4A4A;
  border-radius: 0.3rem;
  text-align: center;
  color: #4A4A4A;
  display: inline-block;
  font-size: 1.2rem;
}

.btn_block {
  display: block;
}

.btn_sm {
  line-height: 2rem;
  font-size: 1.0rem;
}

.btn_lg {
  line-height: 4rem;
  font-size: 1.4rem;
}

.btn_pink {
  color: #F85184;
}

.btn_gray {
  color: #BBBBBB;
}

.btn_black {
  color: #4A4A4A;
}

.btn_group {
  display: block;
}

.btn_group .btn {
  border-radius: 0;
  float: left;
  margin-left: -1px;
}

.btn_group .btn:first {
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  margin-left: 0;
}

.btn_group .btn:last-child {
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.fixed_top, .fixed_center, .header_wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
}

.fixed_center {
  bottom: 0;
}

.container {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.header_wrap .header {
  width: 100%;
  height: 4rem;
  background: #F85184;
}

.i_head_1 {
  left: 1rem;
}

.i_head_2 {
  left: 5rem;
}

.i_head_cen {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.i_head_3 {
  right: 5rem;
}

.i_head_4 {
  right: 1rem;
}
